mixin footerList(head,className,l1,l2,l3,l4)
    div(class=className)
        h5.fifth--heading=head
        ul.lists 
            li
            a(href="#" class="list-item")=l1
            li
            a(href="#" class="list-item")=l2
            li
            a(href="#" class="list-item")=l3
            li
            a(href="#" class="list-item")=l4
