mixin gopro(className,caption,img,paragraph,price)
    figure(class=`${className}`) 
        figureCaption(class=`${caption}`)
            h2.figure-3__caption--heading GoPro Hero 6
            p(class=`${paragraph}`) Lorem Ipsum dolor sit amet, consectetur adipiscing elit, labor
            span(class=`${price}`) $299
        img(src="../../../dist/imgs/gopro.svg" class=`${img}`)